<!DOCTYPE html>
<html lang="en" ng-app="redditApp">
<head>
  <meta charset="UTF-8">
  <title>Reddit Clone</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="redditController">
  <div class="navbar">
    <ul class="nav navbar-nav">
      <li>Reddit Clone</li>
      <li ng-click="view.addPostClick()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Post</li>
      <li><input type="text" placeholder="Search"></li>
      <li>Sort by:
        <select name="sortBy" id="sortBy" ng-model="view.sortBy" ng-click="view.orderPostArray(view.sortBy)">
          <option value="date">Date</option>
          <option value="title">Title</option>
          <option value="upvotes" ng-selected="true">Votes</option>
        </select>
      </li>
    </ul>
  </div>
  <div ng-show="addPost">
    <form ng-submit="view.addPost()">
      <label for="title">Title</label>
      <input type="text" name="title" ng-model="post.title">
      <label for="author">Author</label>
      <input type="text" name="author" ng-model="post.author">
      <label for="imageURL">Image URL</label>
      <input type="text" name="imageURL" ng-model="post.imageURL">
      <label for="description">Description</label>
      <input type="text" name="description" ng-model="post.description">
      <input type="submit" value="Submit Post">
    </form>
  </div>
  <div ng-repeat="post in view.postArray | orderBy: view.sortBy">
    <div class="post">
      <img ng-src="{{post.imageURL}}" alt="user image">
      <h3>{{post.title}} | <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-click="post.upvotes = post.upvotes+1"></span><span class="glyphicon glyphicon-arrow-down" ng-click="post.upvotes = post.upvotes-1" aria-hidden="true"></span><span class="upvotes" ng-class="{'green': post.upvotes>0, 'red': post.upvotes<0}">{{post.upvotes}}</span></h3>
      <p class="authorName">By {{post.author}}</p>
      <p>{{post.description}}</p>
      <ul class="postbottom">
        <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{post.date}}</li>
        <li ng-click="view.showCommentsClick(post)" ng-pluralize count="post.commentArray.length" when="{'1': '1 comment', 'other':  '{} comments'}">
          <div ng-show="post.showComments" class="comments">
            <div ng-repeat="statement in post.commentArray">
              <div> - </div>
            </div>
          </div>
        </li>
        <li><span ng-click="view.addCommentClick(post)" class="glyphicon glyphicon-pencil"></span> Add comment
          <form ng-show="post.addComment" ng-submit="view.addComment(post)">
            <label for="author">Author:</label>
            <input type="text" name="author" ng-model="view.comment.author">
            <label for="comment">Comment:</label>
            <input type="text" name="comment" ng-model="view.comment.comment">
            <input type="submit">
          </form>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
