.post {
  border: 5px;
  background-color: tan;
  min-height: 210px;
}
img {
  height: 200px;
  width: 200px;
  float: left;
  margin: 5px
}
.green {
  color: green;
}
.red {
  color: red;
}
.postbottom {
  display: inline-block;
}
