.post {
  background-color: tan;
  min-height: 210px;
  border-radius: 2%;
  width: 80%;
  margin: auto;
}
img {
  height: 200px;
  width: 200px;
  float: left;
  margin: 5px
}
.green {
  color: green;
}
.red {
  color: red;
}
.postbottom {
  display: inline-block;
}
.navbar li {
  padding: 25px;
}
.navbar {
  background-color: grey;
}
.ng-leave {
  animation: bounceOutRight 1s;
}
.main {
  align-items: center;
}
.ng-enter {
  animation: bounceInLeft 2s;
}
